* {
  box-sizing: border-box;
}
@mixin header {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;

  color: #000000;
}
.back_first {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/banner\ 1.png");
}
.back_second {
  padding-top: 1%;
  background: rgba(0, 0, 0, 0.6);

  height: 100%;
}
.container {
  padding: 0 3%;
  display: grid;
  // width: 1627px;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.logo {
  grid-column: 1/3;
  margin: 0;
  font-size: 40px;
  line-height: 45px;
  color: rgba(255, 153, 0, 1);

  .span_nav {
    color: #ffffff;
  }
}
.citrus {
  padding: 9px;
  flex-direction: column;
  display: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
  justify-content: space-around;
  align-items: center;
  &_line {
    margin: 0;
    padding: 0;
    width: 25px;
    border: 1px solid white;
  }
}
.dropdown {
  grid-column: 3/7;
  width: 100%;
  display: inline-flex;
}
.menu {
  grid-area: menu;
  justify-content: space-evenly;
  display: inline-flex;
  margin-left: 89px;
  &_li {
    margin-left: 10px;
    list-style-type: none;
    :hover {
      color: rgba(255, 153, 0, 1);
    }
    &_a {
      font-size: 24px;
      line-height: 27px;
      text-align: center;

      color: white;
      text-decoration: none;
    }
  }
}
.logo_right {
  grid-column: 9/11;
  margin-top: 15px;
  text-align: end;

  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  :hover {
    color: white;
  }
  &_a {
    text-decoration: none;
    color: #ff9900;
  }
}

.text_left {
  position: relative;

  text-align: right;

  grid-column: 2/5;

  font-size: 80px;
  line-height: 90px;

  color: #ffffff;
  .hosp {
    color: #ff9900;
  }
}
.text_right {
  position: relative;
  grid-column: 6/11;

  font-size: 34px;
  line-height: 38px;
  color: #ffffff;

  .isa {
    padding-left: 14rem;
    display: flex;
    justify-content: space-evenly;
    color: #ff9900;
  }
}
// <!--------------------Вторая колонка---------------------------------->
@mixin lit_hea {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #ff9900;
}
@mixin text {
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}
.back_second_row {
  padding-bottom: 120px;
  padding-top: 120px;
  background: #e5e5e5;
}
.second_row {
  padding: 0 2%;
  margin: 0 auto;
  // width: 1250px;
  &_head {
    margin-bottom: 70px;
    @include header;
  }
  &_foot {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #000000;
  }
}
.story {
  color: #ff9900;
}
.second_row_foot::after {
  content: "";
  width: 114px;
  display: inline-flex;
  border-bottom: 5px solid #ffe600;
}
.head_row2 {
  @include lit_hea;
}
.text_row2 {
  @include text;
}
.second_row_main {
  display: grid;
  column-gap: 66px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven five eight";

  &_1 {
    grid-area: one;
  }
  &_2 {
    grid-area: two;
    text-align: center;
    margin-top: -24px;
  }
  &_3 {
    grid-area: five;
    margin-top: -183px;
  }
  &_4 {
    grid-area: four;
  }
  &_5 {
    grid-area: three;
  }
  &_6 {
    grid-area: six;
  }
  &_7 {
    grid-area: seven;
    margin-top: 19px;
  }
  &_8 {
    grid-area: eight;
    margin-top: 19px;
  }
}
.second_img {
  width: 100%;
}
.magic {
  :hover {
    border: 3px solid #ff9900;
  }
}
// <!--------------------третья колонка---------------------------------->

.line_line {
  position: relative;
  width: 100%;
  border: 5px solid #f90;

  top: 19rem;
}
.line_line2 {
  position: relative;
  width: 100%;

  border: 5px solid #f90;

  top: 45rem;
}

.three_row {
  overflow: hidden;
  padding: 120px 2% 131px 2%;
}

.three_row_head {
  @include header;
  margin-bottom: 70px;
}
.noob {
  border: 1px solid green;
  z-index: 1;
  background-image: url("../img/hotel1\ 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: center;
}
.dubai {
  border: 1px solid green;
  z-index: 1;
  background-image: url("../img/dubai.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: center;
}
.Paries {
  border: 1px solid green;
  z-index: 1;
  background-image: url("../img/paries.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: center;
}
.newyork {
  border: 1px solid green;
  z-index: 1;
  background-image: url("../img/newyork.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: center;
}
.three_row_medium {
  column-gap: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.three_row_medium_london {
  padding: 297px 40px 70px 20px;
  background: rgba(0, 0, 0, 0.4);
}
.three_row_medium_london_head {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #ffffff;
}
.three_row_medium_london_head::after {
  content: "";
  width: 94px;
  display: inline-flex;
  border-bottom: 5px solid #ffe600;
}
.three_row_medium_london_text {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 20px;
  color: #ffffff;
}
.three_row_foot {
  margin-top: 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #000;
}
.three_row_foot::after {
  content: "";
  width: 109px;
  display: inline-flex;
  border-bottom: 5px solid #ffe600;
}
// <!--------------------4 колонка---------------------------------->
.four_rows {
  padding: 120px 2% 0 2%;
  height: 929px;
  background-image: url("../img/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  border: 1px solid green;
}

.four_rows_head {
  @include header;
}
.four_rows_main {
  overflow: hidden;
  display: grid;
  grid-area: ". funi funi_text";
}

.four_rows_main_funi {
  margin-top: 62px;
  margin-left: 84px;
  grid-area: funi;
  grid-column: 1/2;
  grid-row: 1/4;
}
.four_rows_main_text {
  grid-area: funi_text;
  display: flex;
  flex-direction: column;
  margin-top: -77px;
}
.four_rows_main_text_area {
  @include header;
}
.four_rows_main_text_medium {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.four_rows_main_text_foot {
  display: flex;
  flex-direction: column;
  margin-left: 412px;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;

  color: #000000;
}
.four_rows_main_text_foot::after {
  content: "";
  width: 124px;
  display: inline-flex;
  border-bottom: 5px solid #ffe600;
}
// <!--------------------пятая колонка---------------------------------->
.lines_line {
  position: relative;
  width: 100%;

  border: 5px solid #f90;

  top: 18rem;
}
.lines_line2 {
  position: relative;
  width: 100%;

  border: 5px solid #f90;

  top: 62rem;
}
.five_rows {
  overflow: hidden;
  padding: 120px 2% 131px 2%;
}
.five_rows_head {
  @include header;
  margin-bottom: 50px;
}
.five_rows_many_pic {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(142px, auto));
  gap: 20px;
  &_1 {
    z-index: 5;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  &_2 {
    z-index: 5;
    grid-column: 3/4;
    grid-row: 1/4;
  }
  &_3 {
    z-index: 5;
    grid-column: 4/7;
    grid-row: 1/2;
  }
  &_4 {
    z-index: 5;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &_5 {
    z-index: 5;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  &_6 {
    z-index: 5;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  &_7 {
    z-index: 5;
    grid-column: 4/5;
    grid-row: 2/4;
  }
  &_8 {
    z-index: 5;
    grid-column: 5/6;
    grid-row: 2/3;
  }
  &_9 {
    z-index: 5;
    grid-column: 5/6;
    grid-row: 3/4;
  }
  &_10 {
    z-index: 5;
    grid-column: 6/7;
    grid-row: 2/4;
  }
}
.pin_inmozaic {
  height: 100%;
  width: 100%;
}
.five_rows_foot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  margin-top: 35px;
  color: #000000;
}
.five_rows_foot::after {
  content: "";
  width: 138px;
  display: inline-flex;
  border-bottom: 5px solid #ffe600;
}
// шестая колонка

.six_rows {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;

  color: #000000;

  padding: 120px 2%;
  background: #f6fdee;
}
.six_rows_med_img {
  width: 100%;
  height: 100%;
}
.six_rows_med {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 120px;
  row-gap: 20px;
  &_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &_2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  &_3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  &_4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &_5 {
    grid-column: 3/4;
    grid-row: 2/4;
  }
}
// 7 колонка
@mixin foot {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #000000;
}
.seven_rows {
  padding: 120px 2% 40px 2%;
  background: url("../img/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 1.png")
    center no-repeat;
  background-size: 100% 100%;

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;

    color: #000000;
    margin-bottom: 120px;
  }
  &__grid-container {
    overflow: hidden;
    display: grid;
    gap: 68px;
  }
  &__grid-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #000000;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  &__inner-grid1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-decoration: none;
    color: #000000;
  }

  &__inner-grid2 {
    @include foot;
  }

  &__inner-grid3 {
    @include foot;
  }
  &__inner-grid4 {
    @include foot;
  }

  &__inner-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 40px;
  }

  &__name-form {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 40px;
    @media (max-width: 800px) {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 90px 0;
  }

  &__button {
    border: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    padding: 16px 62px;
    background-color: orange;
    border-radius: 5px;
    transition: all 0.5s;
    &:hover {
      background-color: #f7cc8f97;
      color: #f90;
    }
  }

  &__line {
    border: 1px solid #000000;
    margin-bottom: 40px;
  }
}

.form {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 2;
}

.inner-input {
  border-bottom: 1px solid #000000;
  margin-top: 13px;
  & input {
    padding-top: 5px;
    border: 0;
    padding-bottom: 5px;
    outline: none;
    background-color: #ffffff00;
  }
}

::placeholder {
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.footer {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    flex: 0 1 50%;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    flex: 0 1 15%;
  }
}

@media (max-width: 1300px) {
  .text_right {
    font-size: 25px;
    line-height: 1;
  }
  .second_row_main_3 {
    margin-top: -129px;
  }
  .line_line {
  }
  .line_line2 {
    top: 40rem;
  }
  .lines_line2 {
    top: 51rem;
  }

  .three_row_medium_london {
    padding: 190px 40px 49px 20px;
  }
  .four_rows_main_funi {
    margin-top: 62px;
    margin-left: 0px;
  }
  .lines_line {
  }
  .seven_rows__grid-title {
    font-size: 25px;
  }
  .seven_rows__inner-grid1 {
    font-weight: 700;
    font-size: 20px;
  }
  .seven_rows__inner-grid2 {
    font-weight: 700;
    font-size: 20px;
  }
  .seven_rows__inner-grid3 {
    font-weight: 700;
    font-size: 20px;
  }
  .seven_rows__inner-grid4 {
    font-weight: 700;
    font-size: 20px;
  }
  .seven_rows__button {
    font-size: 33px;

    padding: 12px 53px;
  }
}

@media (max-width: 820px) {
  .logo {
    font-size: 30px;
  }

  .menu_li_a {
    font-size: 15px;
  }
  .text_left {
    font-size: 51px;
    line-height: 60px;
  }

  .text_right {
    font-size: 20px;
  }
  .text_row2 {
    font-size: 14px;
  }
  .second_row_main_3 {
    margin-top: -50px;
  }
  .second_row_main {
    column-gap: 32px;
  }
  .three_row_medium_london_text {
    font-size: 0.4rem;
    line-height: 13px;
  }
  .four_rows_main_funi_img {
    width: 100%;
    height: 100%;
  }
  .four_rows_main_text_foot {
    margin-left: 265px;
  }
  .four_rows_main_text_medium {
    font-size: 13px;
    line-height: 20px;
  }
  .five_rows_many_pic {
    gap: 3px;
  }
  .lines_line2 {
    top: 43rem;
  }
  .line_line2 {
    top: 36rem;
  }
  .seven_rows__inner-title {
    font-size: 20px;
  }
  .seven_rows__inner-grid1 {
    font-weight: 700;
    font-size: 12px;
  }
  .seven_rows__inner-grid2 {
    font-size: 12px;
  }
  .seven_rows__inner-grid3 {
    font-size: 12px;
  }
  .seven_rows__inner-grid4 {
    font-size: 12px;
  }
  .seven_rows__grid-title {
    font-size: 16px;
  }
}
@media (max-width: 415px) {
  .citrus {
    display: flex;

    height: 36px;
    width: 38px;
    border-radius: 20%;
  }

  .menu {
    display: block;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-child {
    z-index: 70;
    position: absolute;
    opacity: 0;
    right: 30px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 200px;
  }
  .dropdown-child,
  .menu_li_a {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    padding: 10px 0;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-child {
    opacity: 1;
    display: block;
    transition: 0.4s;
  }
  .menu_li_a {
    transition: 1.3s;
  }
  .menu_li_a:hover {
    transform: scale(1.2);
  }

  .text_left {
    font-size: 26px;
    line-height: 28px;
  }
  .text_right {
    font-size: 10px;
  }
  .logo {
    font-size: 21px;
  }
  .logo_right {
    font-size: 14px;
  }
  .second_row_main {
    column-gap: 4px;
  }
  .text_row2 {
    font-size: 8px;
    line-height: 12px;
  }
  .head_row2 {
    font-size: 16px;
    line-height: 1px;
  }
  .second_row_main_3 {
    margin-top: -23px;
  }
  .three_row_medium_london_text {
    font-size: 0.3rem;
    line-height: 9px;
  }

  .three_row_medium_london_head {
    font-size: 12px;
    line-height: 27px;
  }
  .three_row_medium_london_head::after {
    width: 42px;
  }
  .three_row_medium_london {
    padding: 45px 9px 22px 10px;
  }
  .line_line2 {
    top: 24rem;
  }
  .four_rows_main_text {
    margin-top: 0;
  }
  .four_rows_main_funi {
  }
  .four_rows_main {
    display: block;
  }
  .five_rows_many_pic_4 {
    position: relative;

    top: -47px;
  }

  .five_rows_many_pic_5 {
    position: relative;

    top: -47px;
  }
  .pin_inmozaic {
    height: 66%;
    width: 100%;
  }
  .five_rows_many_pic_6 {
    position: relative;
    top: -97px;
  }

  .five_rows_many_pic_7 {
    position: relative;
    top: -47px;
  }
  .five_rows_many_pic_8 {
    position: relative;
    top: -47px;
  }
  .five_rows_many_pic_9 {
    position: relative;
    top: -97px;
  }
  .five_rows_many_pic_10 {
    position: relative;
    top: -47px;
  }
  .lines_line2 {
    top: 33rem;
  }
  .six_rows_med {
    column-gap: 1px;
  }
  .six_rows {
    font-size: 35px;
  }
  .seven_rows__title {
    font-size: 31px;
  }
  .seven_rows__grid-title {
    line-height: 19px;
  }
  .seven_rows__grid-title {
    line-height: 19px;
    position: absolute;
    left: 128px;
  }
  .seven_rows__grid-container {
    gap: 0px;
  }
  .seven_rows__inner-grid1 {
    line-height: 28px;
    font-size: 6px;
  }
  .seven_rows__inner-grid2 {
    line-height: 28px;
    font-size: 6px;
  }
  .seven_rows__inner-grid3 {
    line-height: 28px;
    font-size: 6px;
  }
  .seven_rows__inner-grid4 {
    line-height: 28px;
    font-size: 6px;
  }
  .seven_rows__inner-title {
    margin-bottom: 0;
    font-size: 11px;
  }
  .form {
    grid-column-start: 1;
  }
  .seven_rows__button {
    font-size: 20px;
    padding: 2px 35px;
  }
  .footer__content {
    font-size: 13px;
  }
  .text_right .isa {
    padding-left: 9rem;
  }
}
